---
import { siteConfig } from "../config.ts";
---

<footer class="py-8 px-8 md:px-24 bg-gray-100 text-gray-800">
  <p class="font-sans text-center">
    &copy; {new Date().getFullYear()} {siteConfig.name}. All rights reserved.
  </p>
</footer>
